<!-- Panel (Banner) -->
  <section class="panel banner right">
    <div class="content color0 span-3-75">
      <h1 class="major">Hi, I'm<br />
     Sam Soltani and a Java Developer</h1>
      <p>Hi! My name is <strong>Sam Soltani</strong>, a Java Developer based in Düsseldorf, Germany. At <a href="https://javaheap.net">Javaheap</a>, I write about Java, related frameworks and related subjects</p>
      <ul class="actions">
        <li><a href="#first" class="button special color1 circle icon fa-angle-right">Next</a></li>
      </ul>
    </div>
    <div class="image filtered span-1-75" data-position="25% 25%">
      <img src="assets/images/pic01.jpg" alt="" />
    </div>
  </section>
