<!-- Panel -->
  <section class="panel color1">
    <div class="intro joined">
      <h2 class="major">What I do</h2>
      <p>I'm a certified Java developer. I love developing web application, using Java, Spring Framework, Angular and TypeScript to build fullstack web applications.</p>
    </div>
    <div class="inner">
      <ul class="grid-icons three connected">
        <li><span class="icon fa-diamond"><span class="label">Lorem</span></span></li>
        <li><span class="icon fa-camera-retro"><span class="label">Ipsum</span></span></li>
        <li><span class="icon fa-cog"><span class="label">Dolor</span></span></li>
        <li><span class="icon fa-paper-plane"><span class="label">Sit</span></span></li>
        <li><span class="icon fa-bar-chart"><span class="label">Amet</span></span></li>
        <li><span class="icon fa-code"><span class="label">Nullam</span></span></li>
      </ul>
    </div>
  </section>
