<!-- Panel (Spotlight) -->
  <section class="panel spotlight large left">
    <div class="content span-5">
      <h2 class="major">Contact Me</h2>
      <p>I can be contaced via the address: {{site.email}}</a></p>
    </div>
    <div class="image filtered tinted" data-position="top right">
      <img src="assets/images/pic03.jpg" alt="" />
    </div>
  </section>
