<!-- Panel (Spotlight) -->
  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <h2 class="major">About Sam</h2>
      <p>Sam began his career in IT in the field of support and network in Iran. There he became Microsoft and Cisco certified. After coming to Germany and working for several companies as well as universities, he decided to pursue software development. His main interests are the java language and framework as well as cloud technologies.</p>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>
