<!DOCTYPE HTML>
<!--
	Ethereal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

	{% include head.html %}

	<body>

		{% include header.html %}
		{% include banner.html %}
		{% include spotlight.html %}
		
		{% include panel.html %}
		{% include spotlight2.html %}
	    {% include footer.html %}

	</body>
</html>
